/* ----------
   Futura STD
   ---------- */
@font-face {
    font-family: 'Futura LT W01 Light';
    src: url('../../fonts/FuturaStd-Light.otf') format('OpenType');
}
@font-face {
    font-family: 'Futura LT W01 Book';
    src: url('../../fonts/FuturaStd-Book.otf') format('OpenType');
}
@font-face {
    font-family: 'Futura LT W01 Medium';
    src: url('../../fonts/FuturaStd-Medium.otf') format('OpenType');
}
@font-face {
    font-family: 'Futura LT W01 Heavy';
    src: url('../../fonts/FuturaStd-Heavy.otf') format('OpenType');
}
@font-face {
    font-family: 'Futura LT W01 Bold';
    src: url('../../fonts/FuturaStd-Bold.otf') format('OpenType');
}


/* ----------------
   Mr. Eaves San OT
   ---------------- */
@font-face {
    font-family: 'mreavessanaltbk';
    src: url('../../fonts/mreavessanaltbk.woff2');
}
@font-face {
    font-family: 'mreavessanaltr';
    src: url('../../fonts/mreavessanaltr.woff2');
}
@font-face {
    font-family: 'mreavessanaltb';
    src: url('../../fonts/mreavessanaltb.woff2');
}
@font-face {
    font-family: 'mreavessanalth';
    src: url('../../fonts/mreavessanalth.woff2');
}

/* ---------
   Didot W01
   --------- */
@font-face {
    font-family: 'Didot W01 Bold Italic';
    src: url('../../fonts/Didot-HTF-B96-Bold-Ital.ttf') format('truetype');
}
@font-face {
    font-family: 'Didot W01 Roman';
    src: url('../../fonts/DidotLH-Roman.otf') format('OpenType');
}
@font-face {
    font-family: 'Didot W01 Bold';
    src: url('../../fonts/DidotLH-Bold.otf') format('OpenType');
}
@font-face {
    font-family: 'Didot W01 Italic';
    src: url('../../fonts/DidotLH-Italic.otf') format('OpenType');
}
@font-face {
    font-family: 'Didot W01 Headline';
    src: url('../../fonts/DidotLH-Headline.otf') format('OpenType');
}