/* --------------------
   Roamans Brand Styles
   -------------------- */

/* Colors */
.bg-red {
  background: #e72e3d;
}
.bg-black {
  background: #000;
}
.bg-white {
  background: #FFF;
}
.bg-grey {
  background: #f4f4f4;
}
.bg-purple {
  background: #331f57;
}

.bg-black-opacity {
  background: rgba(0, 0, 0, .7);
}
.bg-white-opacity {
  background: rgba(255, 255, 255, .7);
}

.red {
  color: #e72e3d;
}
.black {
  color: #000;
}
.white {
  color: #FFF;
}
.purple {
  color: #331f57;
}

@media screen and (max-width: 767px) { 
  .mobile-black {
    color: #000;
  }
  .mobile-white {
    color: #FFF;
  }
  .mobile-bg-black {
    background: #000;
  }
}  

/* Border Colors */
.border-red {
  border-color: #e72e3d;
}
.border-black {
  border-color: #000;
}
.border-white {
  border-color: #FFF;
}
.border-purple {
  border-color: #331f57;
}
  
  
/* Fonts */
.futura-book {
  font-family: "Futura LT W01 Book", sans-serif;
}
.futura-light {
  font-family: "Futura LT W01 Light", sans-serif;
}
.futura-med {
  font-family: "Futura LT W01 Medium", sans-serif;
}
.futura-heavy {
  font-family: "Futura LT W01 Heavy", sans-serif;
}
.futura-bold {
  font-family: "Futura LT W01 Bold", sans-serif;
}

.didot-bold {
  font-family: "Didot W01 Bold", sans-serif;
}
.didot-italic {
  font-family: "Didot W01 Italic", sans-serif;
}
.didot-bold-italic {
  font-family: "Didot W01 Bold Italic", sans-serif;
}
.didot-roman {
  font-family: "Didot W01 Roman", sans-serif;
}
.didot-headline {
  font-family: "Didot W01 Headline", sans-serif;
}

.mr-eaves-book {
  font-family: "mreavessanaltbk";
}
.mr-eaves-regular {
  font-family: "mreavessanaltr";
}
.mr-eaves-bold {
  font-family: "mreavessanaltb";
}
.mr-eaves-headline {
  font-family: "mreavessanalth";
}


/* Buttons */
.cta-btn {
  padding: 15px 35px;
  font-family: "Futura LT W01 Book",sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .18em;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: inline-block;
}
@media screen and (max-width: 767px) { 
  .mobile-cta-btn {
    padding: 15px 35px;
    font-family: "Futura LT W01 Book",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .18em;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: inline-block;
    text-decoration: none;
    margin: 0;
  }
}

/* ------------------
    Modules and Assets
    ------------------ */

/* Promo Landing Page */
.module-promo-content, .module-promo-img {
  min-height: 225px;
  height: 220px; /* IE Fix */

}

/* Offers DD */
.module-offer-dropdown {
  min-height: 162px;
  letter-spacing: .05rem;
  height: 160px;
}
.module-offer-dropdown .offers-cta {
  border-bottom: 1px solid #fff;
  display: inline-block;
}
@media screen and (max-width: 1025px) { 
  .module-offer-dropdown .fs20d {
    font-size: 1.85vw;
  }
  .module-offer-dropdown .fs15d {
    font-size: 1.45vw;
  }
  .module-offer-dropdown .fs45d {
    font-size: 3.85vw;
  }
}

/* Mega Menu */
.module-mega-menu {
  max-width: 195px;
}
.module-mega-menu .mega-menu-no-image {
  width: 195px;
  height: 275px;
}
.module-mega-menu.line-height-1 a {
  line-height: 1 !important; /* Temp Hack, need to fix later*/
}

/* Category Banner */
#wrapper .content-banner-breadcrumb {
  position: relative;
}
.module-category-banner {
  min-height: 175px;
  height: 170px;
}
@media screen and (max-width: 1150px) and (min-width: 768px) { 
    .module-category-banner .fs60d {
        font-size: 5.21vw;
    }
}
@media screen and (max-width: 767px) { 
  .module-category-banner {
    min-height: auto;
    height: auto;
  }
}  

/* New Offers */
.text-overlay-promo {
  position: absolute;
  top: 0;
}
.text-overlay-promo.overlay-right {
  right: 0;
}
.text-overlay-promo.overlay-left {
  left: 0;
}

@media screen and (max-width: 475px) {
  .module-promo-content, .module-promo-img {
      height: auto;
      min-height: 159px;
  }
  .oc-offer-content .letter-spacing-n10 {
    letter-spacing: -3px;
  }
  .oc-offer-content .letter-spacing-n1 {
    letter-spacing: 0px;
  } 
  .oc-offer-content .fs45m {
    font-size: 9.47vw;
  }
  .oc-offer-content .fs40m {
    font-size: 8.42vw;
  }
  .oc-offer-content .fs30m {
    font-size: 6.31vw;
  }
}

/* Hack to hide old Offers DD */
.header-offers:hover .offers-flyout-banner, .header-offers.DelayHover .offers-flyout-banner {
  display: none !important;
}
.header-offers:hover a.offer-flyout, .header-offers.DelayHover a.offer-flyout {
  border-color: transparent !important;
}